
:root{
    --vermelho: #E50914;
    --preta: #141414;
}
/*Elementos base do site*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header .container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
   margin-left: 5px;
   margin-top: 5px;
   width: 15%;
}

header nav a{
    text-decoration:none;
    color: #AAA;
    margin-right: 20px;
}

header nav img{
    margin-right: 20px;
}

header nav a:hover{
    color: #fff;
}

/* Elementos do Filme*/
 
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa-got.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
}

.botao{
    background-color: rgba(0,0,0,.30);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

/* # Wrapper = envelopar */

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    
}


.item{
    width: 300px;
    
}

h3{
    padding: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
}

.book{
    width: 800px;
    flex-direction: column;
    text-align: justify;
    position: absolute;
    top: 30%;
    left: 35%;
}

.tituloLivro{
    margin: 20px 0 0 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div .infoLivro a, h3{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div .infoLivro i{
    color: yellow;
}

div .miniaturaLivro{
    width: 10%;
    margin: 20px 0 5px 40px;
}

body div .destaqueLivro{
    background-color: #292929;
}

.comprar button{
margin: 50px 5px 0 40px;
padding: 20px ;
}

body .bookPage{
    
    width: 100%;
    padding: 2% 0 5%;
    background: #292929;
}